<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="~/css/base.css" rel="stylesheet">

  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Dave's Mortgage Calculator</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Basic Calculator</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Advanced Calculator</a>
      </nav>
    </div>
  </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

  <footer class="mt-auto text-white-50">
            <p>Mortgage Calculator 2023 - Source code available on GitHub</p>
  </footer>
</div>
    
  </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Used displaying charts using ChartJS -->
<link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
<script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</html>
